# Network RPC URLs
MAINNET_RPC_URL=https://rpc.ankr.com/eth/981ceadb2360eae96d0fb28ce6a58da051cdcaa4d46290aaf547ddcefc3d33aa
GOERLI_RPC_URL=
SEPOLIA_RPC_URL=https://rpc.ankr.com/eth_sepolia/981ceadb2360eae96d0fb28ce6a58da051cdcaa4d46290aaf547ddcefc3d33aa
HOLESKY_RPC_URL=https://rpc.ankr.com/eth_holesky/981ceadb2360eae96d0fb28ce6a58da051cdcaa4d46290aaf547ddcefc3d33aa

# Private key for deployment (replace with your actual private key)
PRIVATE_KEY=your_actual_private_key_here

# Etherscan API key for contract verification
ETHERSCAN_API_KEY=J1E5TQNXYT1F5R4SC75XIEE29URGJMRVB8

# Gas reporter settings
REPORT_GAS=true
COINMARKETCAP_API_KEY=1ac46628-c25c-4e91-9028-b7f246d6e674

# Optional: Infura/Alchemy API keys
INFURA_API_KEY=
ALCHEMY_API_KEY= 